.container {
  padding: 20px;
}

.card {
  position: relative;
  top: 20vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: .75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.card-top {
  background: #ffc741;
  padding: 3em;
  border-top-right-radius: .75em;
  border-top-left-radius: .75em;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: auto;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em; 
  border-bottom-right-radius: .75em;
  border-bottom-left-radius: .75em;
}